@inherits ViewDominioPage;

<ComponentLayout OnLoad="Page_Load">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <TextBox @ref="TxtName" _Label="Nome" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <Button Color="@Color.Primary" FullWidth Size="@Size.Large" Variant="@ButtonVariant.Contained" OnClick="BtnConfirmar_Click">Confirmar</Button>
        </div>
    </div>
</ComponentLayout>