@inherits ViewConexaoPage

<ComponentLayout OnLoad="Page_Load">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <TextBox @ref="TxtName" _Label="Nome"></TextBox>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <TextBox @ref="TxtServer" _Label="Server" _CharacterCasing="CharacterCasing.None" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <TextBox @ref="TxtDatabase" _Label="Database" _CharacterCasing="CharacterCasing.None" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <TextBox @ref="TxtUserId" _Label="User ID" _CharacterCasing="CharacterCasing.None" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <TextBox @ref="TxtPassword" _Label="Password" _CharacterCasing="CharacterCasing.None" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <Button Color="@Color.Primary" FullWidth Size="@Size.Large" Variant="@ButtonVariant.Contained" OnClick="BtnConfirmar_Click">Confirmar</Button>
        </div>
    </div>
</ComponentLayout>