@using Skclusive.Material.Theme;

@inherits AppViewPage;

<ThemeProvider Light="@Light">
    <ConventionRouter PageDefault="Cadastros/Usuarios">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(AppLayout)" />
        </Found>
        <NotFound>
            <LayoutView>
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </ConventionRouter>
</ThemeProvider>