@inherits ViewContaBancariaFormaPagamentoPage

<ComponentLayout OnLoad="Page_Load">
    <ListItemViewLayout @ref="ListView" Type="ContaBancariaFormaPagamento">

        <BtnNovo>
            <ListViewBtnNovo Text="Adicionar" ListItemViewLayout="ListView" OnClick="ViewLayout_ItemView" />
        </BtnNovo>

        <BtnExcluir>
            <ListViewBtnExcluir @ref="ListView.ListViewBtnExcluir" ListItemViewLayout="ListView" OnClick="ListViewBtnExcluir_Click" />
        </BtnExcluir>

        <ViewPages>
            <EditItemViewLayout @ref="EditItemViewLayout" Title="Forma de pagamento" Width="480px" Top="100px">

                <BtnSalvar>
                    <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="ViewPageBtnSalvar_Click" />
                </BtnSalvar>

                <BtnExcluir>
                    <ViewPageBtnExcluir ListItemViewLayout="ListView" OnClick="ViewPageBtnExcluir_Click" />
                </BtnExcluir>

                <View>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ViewPesquisa @ref="ViewPesquisaFormaPagamento" Tipo="FormaPagamento" _Label="Forma de pagamento" _Title="Procurar forma de pagamento" />
                        </div>
                    </div>
                </View>
            </EditItemViewLayout>
        </ViewPages>

        <GridView>
            <ListViewGridView @ref="ListView.ListViewGridView" Type="ContaBancariaFormaPagamento" Height="400px" OnItemView="ViewLayout_ItemView" OnDataChange="StateHasChanged">
                <ItemView>
                    @{
                        var item = (ContaBancariaFormaPagamento)context;

                        <ListItemText Primary="@item.FormaPagamento.Descricao">
                            <SecondaryContent>
                                <Typography Component="span" Variant="@TypographyVariant.Body2" Color="@Color.TextPrimary" Style="display: inline;">
                                    @item.FormaPagamento.Descricao
                                </Typography>
                                — I'll be in your neighborhood
                            </SecondaryContent>
                        </ListItemText>
                    }
                </ItemView>
                <Columns>
                    <GridColumn Field="FormaPagamento.Descricao" HeaderText="Descrição" Width="340" />
                </Columns>
            </ListViewGridView>
        </GridView>
    </ListItemViewLayout>
</ComponentLayout>