@inherits ViewContaBancariaPage

<EditItemViewLayout @ref="EditItemViewLayout" Title="Conta bancária" OnLoad="Page_Load" Width="620px">
    <BtnLimpar>
        <ViewPageBtnLimpar OnClick="BtnLimpar_Click" />
    </BtnLimpar>
    <BtnSalvar>
        <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="BtnSalvar_Click" />
    </BtnSalvar>
    <BtnExcluir>
        <ViewPageBtnExcluir ListItemViewLayout="ListView" OnClick="BtnExcluir_Click" />
    </BtnExcluir>
    <View>
        <TabSet @ref="TabSet" Changed="StateHasChanged">
            <TabPage Id="Principal" Title="Principal">
                <div class="row">

                    <div class="col-md-2 col-sm-12">
                        <TextBox @ref="TxtCodigo" _Label="Código" _ReadOnly="true" />
                    </div>

                    <div class="col-md-10 col-sm-12">
                        <TextBox @ref="TxtDescricao" _Label="Descrição" />
                    </div>

                </div>
            </TabPage>
            <TabPage Id="FormasPagamento" Title="Formas de pagamento">
                <ViewContaBancariaFormaPagamento @ref="ViewContaBancariaFormaPagamento" />
            </TabPage>
        </TabSet>
    </View>
</EditItemViewLayout>