@inherits ViewPageBtnCustomComponent;

@if (Visible)
{

    @if (HelpDisplay.Display.Width > 0 && HelpDisplay.Display.Width <= (int)LayoutSize.Small)
    {

    }

    @if (HelpDisplay.Display.Width > (int)LayoutSize.Small)
    {
        <Button Variant="@ButtonVariant.Contained" OnClick="BtnCustom_Click" Style=@("color: #fff; background-color: " + Color + "; width: " + Width)>
            <StartIcon>
                <FileCopyIcon />
            </StartIcon>
            <ChildContent>
                @Text
            </ChildContent>
        </Button>
    }

}