@inherits ViewProdutoPage

<EditItemViewLayout @ref="EditItemViewLayout" Title="Produto" OnLoad="Page_Load" Width="1250px">

    <BtnLimpar>
        <ViewPageBtnLimpar OnClick="BtnLimpar_Click" />
    </BtnLimpar>
    
    <BtnSalvar>
        <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="BtnSalvar_Click" />
    </BtnSalvar>
    
    <BtnExcluir>
        <ViewPageBtnExcluir ListItemViewLayout="ListView" OnClick="BtnExcluir_Click" />
    </BtnExcluir>
    
    <View>
        <TabSet @ref="TabSet" Changed="StateHasChanged">
            <TabPage Id="Principal" Title="Principal">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <TextBox @ref="TxtCodigo" _Label="Código" />
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <TextBox @ref="TxtDescricao" _Label="Descrição" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <DropDownList @ref="DplUnidadeMedida" _Label="Unidade medida" />
                    </div>
                </div>
            </TabPage>
            <TabPage Id="Tributacao" Title="Tributação">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <DropDownList @ref="DplOrigem" _Label="Origem" />
                    </div>
                </div>
            </TabPage>
            <TabPage Id="Fornecedores" Title="Fornecedores">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ViewProdutoFornecedor @ref="ViewProdutoFornecedor" />
                    </div>
                </div>
            </TabPage>
        </TabSet>
    </View>
</EditItemViewLayout>