@inherits ViewProdutoPage

<EditItemViewLayout @ref="EditItemViewLayout" Title="Produto" OnLoad="Page_Load" Width="1250px">

    <BtnLimpar>
        <ViewPageBtnLimpar OnClick="BtnLimpar_Click" />
    </BtnLimpar>
    
    <BtnSalvar>
        <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="BtnSalvar_Click" />
    </BtnSalvar>
    
    <BtnExcluir>
        <ViewPageBtnExcluir ListItemViewLayout="ListView" OnClick="BtnExcluir_Click" />
    </BtnExcluir>
    
    <View>
        <TabSet @ref="TabSet" Changed="StateHasChanged">
            <TabPage Id="Principal" Title="Principal">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <TextBox @ref="TxtCodigo" _Label="Código" />
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <TextBox @ref="TxtDescricao" _Label="Descrição" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-inline">
                            <CheckBox @ref="ChkCombinacao" _Label="Combinações" Changed="StateHasChanged" />
                            <CheckBox @ref="ChkComposicao" _Label="Composição" Changed="StateHasChanged" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <DropDownList @ref="DplUnidadeMedida" _Label="Unidade medida" />
                    </div>
                </div>
            </TabPage>
            <TabPage Id="Aplicacoes" Title="Aplicações">

            </TabPage>

            <TabPage Id="Estoque" Title="Estoque">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <SfGrid @ref="GridViewEstoque" DataSource="ListEstoque" TValue="RelBasica" AllowReordering="true" AllowResizing="true" AllowSorting="true" RowHeight="30" Height="100%" Width="auto" onselectstart='return false'>
                            <GridPageSettings PageSize="30" />
                            <GridColumns>
                                <GridColumn Field="Descricao01" HeaderText="Descrição" Width="730" />
                                <GridColumn Field="Valor01" HeaderText="Saldo" Width="100" Format="N3" />
                            </GridColumns>
                        </SfGrid>
                    </div>
                </div>
            </TabPage>

            <div style="display: @(ChkCombinacao?.Checked ?? false ? "block" : "none")">
                <TabPage Id="Atributos" Title="Atributos">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ViewProdutoAtributo @ref="ViewProdutoAtributo" OnSave="ViewProdutoAtributo_Save" />
                        </div>
                    </div>
                </TabPage>
            </div>

            <div style="display: @(ChkCombinacao?.Checked ?? false ? "block" : "none")">
                <TabPage Id="Combinacoes" Title="Combinações">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ViewProdutoCombinacao @ref="ViewProdutoCombinacao" />
                        </div>
                    </div>
                </TabPage>
            </div>

            <TabPage Id="Tributacao" Title="Tributação">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <DropDownList @ref="DplOrigem" _Label="Origem" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <ViewPesquisa @ref="ViewPesquisaNCM" Tipo="NCM" _Label="NCM" _Title="Procurar NCM" Width_Codigo="130px" _Mask="9999.99.99" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <ViewPesquisa @ref="ViewPesquisaCEST" Tipo="CEST" _Label="CEST" _Title="Procurar CEST" Width_Codigo="130px" _Mask="99.999.99" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <ViewPesquisa @ref="ViewPesquisaTributacao" Tipo="Tributacao" _Label="Tributação" _Title="Procurar tributação" />
                    </div>
                </div>
            </TabPage>
            <TabPage Id="Fornecedores" Title="Fornecedores">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ViewProdutoFornecedor @ref="ViewProdutoFornecedor" />
                    </div>
                </div>
            </TabPage>
        </TabSet>
    </View>
</EditItemViewLayout>