@inherits AddTituloPage

<EditItemViewLayout @ref="EditItemViewLayout" Title="Título" OnLoad="Page_Load" Width="870px">
    <BtnLimpar>
        <ViewPageBtnLimpar OnClick="BtnLimpar_Click" />
    </BtnLimpar>
    <BtnSalvar>
        <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="BtnSalvar_Click" />
    </BtnSalvar>
    <View>
        <TabSet @ref="TabSet" Changed="StateHasChanged">
            <TabPage Id="Principal" Title="Principal">

                <div class="row">
                    <div class="col-md-3">
                        <TextBox @ref="TxtDocumento" _Label="Número Doc." OnInput="TxtDocumento_Input" />
                    </div>
                    <div class="col-md-6">
                        <ViewPesquisa @ref="ViewPesquisaPessoa" Tipo="Pessoa" _Label="Fornecedor" />
                    </div>
                    <div class="col-md-3">
                        <DatePicker @ref="DtpEmissao" _Label="Emissão" OnChange="DtpEmissao_Change" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <ViewPesquisa @ref="ViewPesquisaPlanoConta" Tipo="PlanoConta" _Label="Plano de conta" />
                    </div>
                    <div class="col-md-6">
                        <ViewPesquisa @ref="ViewPesquisaCentroCusto" Tipo="CentroCusto" _Label="Centro de custo" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <ViewPesquisa @ref="ViewPesquisaContaBancaria" Tipo="ContaBancaria" _Label="Conta Bancária" />
                    </div>
                    <div class="col-md-6">
                        <ViewPesquisa @ref="ViewPesquisaFormaPagamento" Tipo="FormaPagamento" _Label="Forma de pagamento" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <NumericBox @ref="TxtValor" _Label="Valor" OnKeyUp="TxtValor_KeyUp" />
                    </div>
                    <div class="col-md-3">
                        <DatePicker @ref="DtpVencimento" _Label="Vencimento" OnChange="DtpVencimento_Change" />
                    </div>

                    <div class="col-md-2">
                        <NumericBox @ref="TxtParcelas" _Label="Parcelas" _Digits="0" OnKeyUp="TxtParcelas_KeyUp" />
                    </div>

                    <div class="col-md-3" style="display: @(TxtParcelas?.Value > 1 ? "block" : "none")">
                        <DropDownList @ref="DplPeriodo" _Label="Período" OnChange="DplPeriodo_Change" />
                    </div>

                    <div class="col-md-2" style="display: @(TxtParcelas?.Value > 1 && DplPeriodo?.SelectedValue == "0" ? "block" : "none")">
                        <NumericBox @ref="TxtPeriodo" _Label="Repetir a cada" _Digits="0" OnKeyUp="TxtPeriodo_KeyUp" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-12">
                        <SfGrid @ref="GridViewTituloDetalhe" DataSource="ListTituloDetalhe" AllowReordering="true" AllowResizing="true" AllowFiltering="true" AllowSorting="true" RowHeight="30" onselectstart='return false'>
                            <GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
                            <GridPageSettings PageSize="30"></GridPageSettings>
                            <GridColumns>
                                <GridColumn Width="65" Field="nParcela" HeaderText="Parcela" />
                                <GridColumn Width="90" Field="DataEmissao" HeaderText="Emissão" Format="dd/MM/yyyy" />
                                <GridColumn Width="110" Field="nDocumentoParcela" HeaderText="Número Doc." />
                                <GridColumn Width="85" Field="vTotal" HeaderText="Valor" Format="C2" TextAlign="TextAlign.Right" />
                                <GridColumn Width="110" AllowSorting="false" HeaderText="Vencimento">
                                    <Template>
                                        @{
                                            var item = (TituloDetalhe)context;
                                            <DatePicker _Value="item.DataVencimento" OnChange="@(c => GridViewTituloDetalheDtpVencimento_Change(c, item))"></DatePicker>
                                        }
                                    </Template>
                                </GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </div>
                </div>

            </TabPage>
        </TabSet>
    </View>
</EditItemViewLayout>