@inherits ViewEmpresaPage

<EditItemViewLayout @ref="EditItemViewLayout" Title="Empresa" OnLoad="Page_Load" Width="1250px">
    
    <BtnLimpar>
        <ViewPageBtnLimpar OnClick="BtnLimpar_Click" />
    </BtnLimpar>

    <BtnSalvar>
        <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="BtnSalvar_Click" />
    </BtnSalvar>

    <BtnExcluir>
        <ViewPageBtnExcluir ListItemViewLayout="ListView" OnClick="BtnExcluir_Click" />
    </BtnExcluir>

    <View>
        <TabSet @ref="TabSet" Changed="StateHasChanged">
            <TabPage Id="Principal" Title="Principal">

                <div class="row">
                    <div class="col-md-1 col-sm-6">
                        <TextBox @ref="TxtCodigo" _Label="Código" _ReadOnly="true" />
                    </div>
                    <div class="col-md-1 col-sm-12">
                        <DropDownList @ref="DplTipo" _Label="Tipo" OnChange="DplTipo_Change" />
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <TextBox @ref="TxtCNPJ" _Label="CNPJ" />
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <TextBox @ref="TxtRazaoSocial" _Label="Razão social" />
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <TextBox @ref="TxtNomeFantasia" _Label="Nome fantasia" />
                    </div>
                </div>

                @*<div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-inline">
                        <CheckBox @ref="ChkCliente" _Label="Cliente" Changed="StateHasChanged" />
                        <CheckBox @ref="ChkFornecedor" _Label="Fornecedor" />
                        <CheckBox @ref="ChkTransportadora" _Label="Transportadora" />
                        <CheckBox @ref="ChkFuncionario" _Label="Funcionário" />
                    </div>
                </div>
            </div>*@

                <br />

                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <TextBox @ref="TxtInscricaoEstadual" _Label="Insc. Estadual" />
                    </div>
                    <div class="col-md-2 col-sm-12" style="display: @((TipoPessoa?)DplTipo?.SelectedValue.ToIntOrNull() == TipoPessoa.Juridica ? "block" : "none")">
                        <TextBox @ref="TxtInscricaoMunicipal" _Label="Insc. Municipal" />
                    </div>
                    <div class="col-md-2 col-sm-12" style="display: @((TipoPessoa?)DplTipo?.SelectedValue.ToIntOrNull() == TipoPessoa.Fisica ? "block" : "none")">
                        <DropDownList @ref="DplSexo" _Label="Sexo" />
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <DatePicker @ref="DtpAbertura" _Label="Abertura" />
                    </div>
                </div>

            </TabPage>

            <TabPage Id="Endereco" Title="Endereço">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ViewEmpresaEndereco @ref="ViewEmpresaEndereco" />
                    </div>
                </div>
            </TabPage>

            <TabPage Id="Certificados" Title="Certificados">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ViewEmpresaCertificado @ref="ViewEmpresaCertificado" />
                    </div>
                </div>
            </TabPage>

            @*<div style="display: @((ChkCliente?.Checked ?? false) ? "block" : "none")">
            <TabPage Id="Vendedor" Title="Vendedor">
                <ViewPessoaVendedor @ref="ViewPessoaVendedor" />
            </TabPage>
        </div>*@
            @*<TabPage Id="Endereco" Title="Endereço">
            <ViewPessoaEndereco @ref="ViewPessoaEndereco" />
        </TabPage>*@
            @*<TabPage Id="Contato" Title="Contato">
            <ViewPessoaContato @ref="ViewPessoaContato" />
        </TabPage>*@
        </TabSet>
    </View>
</EditItemViewLayout>