@inherits ViewPessoaPage<Pessoa>

<EditItemViewLayout @ref="EditItemViewLayout"
                    ListItemViewLayout="ListItemViewLayout"
                    Title="@Title"
                    Width="1250px"
                    OnPageLoad="ViewLayout_PageLoad"
                    OnLimpar="ViewLayout_Limpar"
                    OnCarregar="ViewLayout_Carregar"
                    OnSalvar="ViewLayout_Salvar"
                    OnExcluir="ViewLayout_Excluir">
    <View>

        <TabSet @ref="TabSet" Changed="StateHasChanged">
            <TabPage Id="Principal" Title="Principal">
                <Box Padding="3">

                    <div class="row">

                        <div class="col-md-1 col-sm-6">
                            <TextBox @ref="TxtCodigo" _Label="Código" _ReadOnly="true"></TextBox>
                        </div>

                        <div class="col-md-5 col-sm-6">
                            <TextBox @ref="TxtRazaoSocial" _Label="Razão social" _AutoFocus="true"></TextBox>
                        </div>

                    </div>

                </Box>
            </TabPage>
            <TabPage Id="Endereco" Title="Endereço">
                <Box Padding="3">
                    <ViewPessoaEndereco @ref="ViewPessoaEndereco"></ViewPessoaEndereco>
                </Box>
            </TabPage>
        </TabSet>

    </View>
</EditItemViewLayout>