@inherits ViewPessoaContatoPage

<ComponentLayout>
    <ListItemViewLayout @ref="ListView" Type="PessoaContato">

        <BtnNovo>
            <ListViewBtnNovo @ref="ListView.ListViewBtnNovo" ListItemViewLayout="ListView" Text="Adicionar" OnClick="ViewLayout_ItemView" />
        </BtnNovo>

        <BtnExcluir>
            <ListViewBtnExcluir @ref="ListView.ListViewBtnExcluir" ListItemViewLayout="ListView" OnClick="ListViewBtnExcluir_Click" />
        </BtnExcluir>

        <ViewPages>
            <EditItemViewLayout @ref="EditItemViewLayout" Title="Contato" Width="650px" Top="100px">

                <BtnSalvar>
                    <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="ViewPageBtnSalvar_Click" />
                </BtnSalvar>

                <BtnExcluir>
                    <ViewPageBtnExcluir OnClick="ViewPageBtnExcluir_Click" />
                </BtnExcluir>

                <View>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <TextBox @ref="TxtNome" _Label="Nome" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <TextBox @ref="TxtTelefone" _Label="Telefone" />
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <TextBox @ref="TxtEmail" _Label="E-mail" _CharacterCasing="CharacterCasing.LowerCase" />
                        </div>
                    </div>
                </View>
            </EditItemViewLayout>
        </ViewPages>

        <GridView>
            <ListViewGridView @ref="ListView.ListViewGridView" Type="PessoaContato" Height="400px" CheckBoxWidth="38" OnItemView="ViewLayout_ItemView" OnDataChange="StateHasChanged">
                <ItemView>
                    @{
                        var item = (PessoaContato)context;

                        <ListItemText Primary="@item.Contato.Email">
                            <SecondaryContent>
                                <Typography Component="span" Variant="@TypographyVariant.Body2" Color="@Color.TextPrimary" Style="display: inline;">
                                    @item.Contato.Email
                                </Typography>
                                — I'll be in your neighborhood
                            </SecondaryContent>
                        </ListItemText>
                    }
                </ItemView>
                <Columns>
                    <GridColumn Field="Contato.Nome" HeaderText="Nome" Width="200" />
                    <GridColumn Field="Contato.Telefone" HeaderText="Telefone" Width="100" />
                    <GridColumn Field="Contato.Email" HeaderText="E-mail" Width="400" />
                </Columns>
            </ListViewGridView>
        </GridView>
    </ListItemViewLayout>
</ComponentLayout>