@typeparam Type

@inherits ListItemViewLayoutPage<Type>

<style>
    body {
        background-color: #f4f6f8 !important;
    }
    .CardActions-Root {
        display: block !important;
    }
</style>

<ComponentLayout OnResize="Page_Resize">

    @ViewPages

    @if (HelpDisplay.Display.Width >= 0 && HelpDisplay.Display.Width <= (int)LayoutSize.Small)
    {

        <style>
            .fab-button {
                right: 16px;
                bottom: 16px;
                position: fixed;
            }
        </style>

        @GridView

        @*<Card>
                @if (!string.IsNullOrEmpty(Title))
                {
                    <CardHeader Title="@Title" />
                    <Divider />
                }
                <CardContent>
                    @GridView
                </CardContent>
            </Card>*@

        @BtnFiltro

        @BtnPesquisa

        @BtnNovo

        @BtnExcluir

    }

    @if (HelpDisplay.Display.Width > (int)LayoutSize.Small)
    {

        <Card>
            @if (!string.IsNullOrEmpty(Title))
            {
                <CardHeader Title="@Title" />
                <Divider />
            }
            <CardActions>
                <div class="row">
                    <div class="col-sm-12">

                        @if (!ListViewGridView?.ListItemView.Any(c => Convert.ToBoolean(c.GetType().GetProperty("Selected").GetValue(c)) == true) ?? false)
                        {
                            @BtnNovo
                        }
                        else
                        {
                            @BtnExcluir
                        }

                        <div class="form-check-inline float-end">
                            <div class="form-group">
                                @BtnFiltro
                                @BtnPesquisa
                            </div>
                        </div>


                    </div>
                </div>
            </CardActions>
            <Divider />
            <CardContent>
                @GridView
            </CardContent>
        </Card>

    }

</ComponentLayout>