@typeparam Type

@inherits ListItemViewLayoutPage<Type>

<style>
    body {
        background-color: #f4f6f8 !important;
    }
    .CardActions-Root {
        display: block !important;
    }
</style>

<ComponentLayout OnResize="Page_Resize">

    @ViewPages

    @if (HelpDisplay.Display.Width >= 0 && HelpDisplay.Display.Width <= (int)LayoutSize.Small)
    {

        <Card>
            @if (!string.IsNullOrEmpty(Title))
            {
                <CardHeader Title="@Title" />
                <Divider />
            }
            <CardActions>
                <div class="row">
                    <div class="col-sm-12">

                        @if (!ListViewGridView?.ListItemView.Any(c => Convert.ToBoolean(c.GetType().GetProperty("Selected").GetValue(c)) == true) ?? false)
                        {
                            @BtnNovo
                        }
                        else
                        {
                            @BtnExcluir
                        }

                        <div class="form-check-inline float-end">
                            <div class="form-group">
                                @BtnFiltro
                                @BtnPesquisa
                            </div>
                        </div>


                    </div>
                </div>
            </CardActions>
            <Divider />
            <CardContent>
                <div style="margin-top: 5px; margin-bottom: 4px">
                    @if (!ListViewGridView?.ListItemView?.Any(c => Convert.ToBoolean(c.GetType().GetProperty("Selected").GetValue(c)) == true) ?? false)
                    {
                        <font size="3">Nenhum registro selecionado</font>
                    }
                    else
                    {
                        <font size="3">@ListViewGridView?.ListItemView?.Where(c => Convert.ToBoolean(c.GetType().GetProperty("Selected").GetValue(c)) == true).Count() registro(s) selecionado(s)</font>
                    }
                </div>

                <div style="height: 60vh">
                    @GridView
                </div>

            </CardContent>
        </Card>

    }

    @if (HelpDisplay.Display.Width > (int)LayoutSize.Small)
    {

        <Card>
            @if (!string.IsNullOrEmpty(Title))
            {
                <CardHeader Title="@Title" />
                <Divider />
            }
            <CardActions>
                <div class="row">
                    <div class="col-sm-12">

                        @if (!ListViewGridView?.ListItemView.Any(c => Convert.ToBoolean(c.GetType().GetProperty("Selected").GetValue(c)) == true) ?? false)
                        {
                            @BtnNovo
                        }
                        else
                        {
                            @BtnExcluir
                        }

                        <div class="form-check-inline float-end">
                            <div class="form-group">
                                @BtnFiltro
                                @BtnPesquisa
                            </div>
                        </div>


                    </div>
                </div>
            </CardActions>
            <Divider />
            <CardContent>
                <div style="margin-top: 5px; margin-bottom: 4px">
                    @if (!ListViewGridView?.ListItemView?.Any(c => Convert.ToBoolean(c.GetType().GetProperty("Selected").GetValue(c)) == true) ?? false)
                    {
                        <font size="3">Nenhum registro selecionado</font>
                    }
                    else
                    {
                        <font size="3">@ListViewGridView?.ListItemView?.Where(c => Convert.ToBoolean(c.GetType().GetProperty("Selected").GetValue(c)) == true).Count() registro(s) selecionado(s)</font>
                    }
                </div>

                <div style="height: 60vh">
                    @GridView
                </div>

            </CardContent>
        </Card>

    }
</ComponentLayout>