@inherits ViewNotaFiscalItemPage

<ComponentLayout>
    <ListItemViewLayout @ref="ListView" Type="NotaFiscalItem">

        <BtnNovo>
            <ListViewBtnNovo @ref="ListView.ListViewBtnNovo" ListItemViewLayout="ListView" Text="Adicionar" OnClick="ViewLayout_ItemView" />
        </BtnNovo>

        <BtnExcluir>
            <ListViewBtnExcluir @ref="ListView.ListViewBtnExcluir" ListItemViewLayout="ListView" OnClick="ListViewBtnExcluir_Click" />
        </BtnExcluir>

        <ViewPages>
            <EditItemViewLayout @ref="EditItemViewLayout" Title="Item" Width="700px" Top="100px">

                <BtnSalvar>
                    <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="ViewPageBtnSalvar_Click" />
                </BtnSalvar>

                <BtnExcluir>
                    <ViewPageBtnExcluir ListItemViewLayout="ListView" OnClick="ViewPageBtnExcluir_Click" />
                </BtnExcluir>

                <View>

                    <TabSet @ref="TabPrincipal" Changed="StateHasChanged">
                        <TabPage Id="Item" Title="Item">

                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <TextBox @ref="TxtCodigo" _Label="Código" />
                                </div>
                                <div class="col-md-9 col-sm-12">
                                    <TextBox @ref="TxtDescricao" _Label="Descrição" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <NumericBox @ref="TxtQuantidade" _Label="Quantidade" _Digits="3" />
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <NumericBox @ref="TxtPreco" _Label="Preço un. (R$)" />
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <NumericBox @ref="TxtDesconto" _Label="Desc.  un. (R$)" />
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <NumericBox @ref="TxtTotal" _Label="Total" _ReadOnly="true" />
                                </div>
                            </div>

                            <br />
                            <br />

                            <TabSet @ref="TabImpostos" Changed="StateHasChanged">
                                <TabPage Id="BaseCalculo" Title="Base de calculo">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <NumericBox @ref="TxtBaseCalculo" _Label="Base de calculo" OnKeyUp="TxtBaseCalculo_KeyUp" />
                                        </div>
                                    </div>
                                </TabPage>
                                <TabPage Id="ICMS" Title="ICMS">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-12">
                                            <ViewPesquisa @ref="ViewPesquisaCST_ICMS" Tipo="CST_ICMS" _Label="CST ICMS" _Title="Procurar CST ICMS" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 col-sm-12">
                                            <ViewPesquisa @ref="ViewPesquisaCSOSN_ICMS" Tipo="CSOSN_ICMS" _Label="CSOSN ICMS" _Title="Procurar CSOSN ICMS" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtICMSBaseCalculo" _Label="Base de calculo" _ReadOnly="true" />
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtAliqICMS" _Label="Aliq. ICMS (%)" OnKeyUp="TxtAliqICMS_KeyUp" />
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtValorICMS" _Label="Valor ICMS (R$)" />
                                        </div>
                                    </div>
                                </TabPage>
                                <TabPage Id="IPI" Title="IPI">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-12">
                                            <ViewPesquisa @ref="ViewPesquisaCST_IPI" Tipo="CST_IPI" _Label="CST IPI" _Title="Procurar CST IPI" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtIPIBaseCalculo" _Label="Base de calculo" _ReadOnly="true" />
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtAliqIPI" _Label="Aliq. IPI (%)" OnKeyUp="TxtAliqIPI_KeyUp" />
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtValorIPI" _Label="Valor IPI (R$)" />
                                        </div>
                                    </div>
                                </TabPage>
                                <TabPage Id="PIS" Title="PIS">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-12">
                                            <ViewPesquisa @ref="ViewPesquisaCST_PIS" Tipo="CST_PISCOFINS" _Label="CST PIS" _Title="Procurar CST PIS" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtPISBaseCalculo" _Label="Base de calculo" _ReadOnly="true" />
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtAliqPIS" _Label="Aliq. PIS (%)" OnKeyUp="TxtAliqPIS_KeyUp" />
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtValorPIS" _Label="Valor PIS (R$)" />
                                        </div>
                                    </div>
                                </TabPage>
                                <TabPage Id="COFINS" Title="COFINS">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-12">
                                            <ViewPesquisa @ref="ViewPesquisaCST_COFINS" Tipo="CST_PISCOFINS" _Label="CST COFINS" _Title="Procurar CST COFINS" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtCOFINSBaseCalculo" _Label="Base de calculo" _ReadOnly="true" />
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtAliqCOFINS" _Label="Aliq. COFINS (%)" OnKeyUp="TxtAliqCOFINS_KeyUp" />
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <NumericBox @ref="TxtValorCOFINS" _Label="Valor COFINS (R$)" />
                                        </div>
                                    </div>
                                </TabPage>
                                @*<TabPage Id="ISSQN" Title="ISSQN">

                                </TabPage>
                                <TabPage Id="II" Title="II">

                                </TabPage>*@
                            </TabSet>

                        </TabPage>
                        <TabPage Id="Impostos" Title="Inf. impostos">

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <ViewPesquisa @ref="ViewPesquisaCFOP" Tipo="CFOP" _Label="CFOP" _Title="Procurar CFOP" Width_Codigo="90px" _Mask="9.999" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <ViewPesquisa @ref="ViewPesquisaNCM" Tipo="NCM" _Label="NCM" _Title="Procurar NCM" Width_Codigo="130px" _Mask="9999.99.99" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <ViewPesquisa @ref="ViewPesquisaCEST" Tipo="CEST" _Label="CEST" _Title="Procurar CEST" Width_Codigo="130px" _Mask="99.999.99" />
                                </div>
                            </div>

                        </TabPage>
                    </TabSet>

                </View>
            </EditItemViewLayout>
        </ViewPages>

        <GridView>
            <ListViewGridView @ref="ListView.ListViewGridView" Type="NotaFiscalItem" Height="350px" CheckBoxWidth="45" OnItemView="ViewLayout_ItemView" ShowRegistroSelecionados="false" AllowPaging="false" AllowGrouping="false" OnDataChange="StateHasChanged">
                <ItemView>
                    @{
                        var item = (NotaFiscalItem)context;
                        
                        <ListItemText Primary="@item.ProdutoID.ToString()">
                            <SecondaryContent>
                                <Typography Component="span" Variant="@TypographyVariant.Body2" Color="@Color.TextPrimary" Style="display: inline;">
                                    @item.ProdutoID
                                </Typography>
                                — I'll be in your neighborhood
                            </SecondaryContent>
                        </ListItemText>
                    }
                </ItemView>
                <Columns>
                    <GridColumn Field="cProd" HeaderText="Código" Width="75" />
                    <GridColumn Field="xProd" HeaderText="Descrição" Width="200" />
                    <GridColumn Field="Codigo_NCM" HeaderText="NCM" Width="75" />
                    <GridColumn Field="Codigo_CFOP" HeaderText="CFOP" Width="70" />
                    <GridColumn Field="qCom" HeaderText="Qtd." Width="70" Format="N3" TextAlign="TextAlign.Right" />
                    <GridColumn Field="vUnCom" HeaderText="Valor un." Width="80" Format="N2" TextAlign="TextAlign.Right" />
                    <GridColumn Field="vProd" HeaderText="Valor total" Width="90" Format="N2" TextAlign="TextAlign.Right" />
                    <GridColumn Field="vICMS" HeaderText="ICMS" Width="65" Format="N2" TextAlign="TextAlign.Right" />
                    <GridColumn Field="vIPI" HeaderText="IPI" Width="65" Format="N2" TextAlign="TextAlign.Right" />
                </Columns>
            </ListViewGridView>

        </GridView>
    </ListItemViewLayout>
</ComponentLayout>