@inherits CheckBoxControl

<div onselectstart='return false'>
    <FormControlLabel Label="@_Label">
        <Checkbox Checked="@_Checked" OnChange="@_Checked_Change" />
    </FormControlLabel>
</div>