@inherits OptionControl

<div class="form-check-inline" onselectstart='return false'>
    <FormControlLabel Label="@Label">
        <Skclusive.Material.Selection.Radio Name="@Name" Value="@Value" Checked="@Checked" OnChange="Radio_Change" />
    </FormControlLabel>
</div>