@inherits TabPageControl

@if (HelpDisplay.Display.Width > 0 && HelpDisplay.Display.Width <= (int)LayoutSize.Small)
{
    <Tab Label="@Title" OnClick="Active" Class="@(Visible ? "Tab-Selected" : "")" Style="@(Visible ? "color: #1976d2; border-bottom: 3px solid #1976d2;" : "")" />
}

@if (HelpDisplay.Display.Width > (int)LayoutSize.Small)
{
    <li class="nav-item">
        <span class="nav-link@(Visible ? " active" : "")" style="cursor: pointer" @onclick="Active" onselectstart='return false'><font size="4">@Title</font></span>
    </li>
}