@inherits TabPageControl

@if (HelpParametros.Template == Template.Mobile)
{
    <Tab Label="@Title" OnClick="Active" Class="@(Visible ? "Tab-Selected" : "")" Style="@(Visible ? "color: #1976d2; border-bottom: 3px solid #1976d2;" : "")" />
}
else
{
    <li class="nav-item">
        <a class="nav-link@(Visible ? " active" : "")" style="text-decoration: none;" href="#@(Id.ToLower())" @onclick="Active"><font size="4">@Title</font></a>
    </li>
}