@inherits TabSetControl

@if (HelpDisplay.Display.Width > 0 && HelpDisplay.Display.Width <= (int)LayoutSize.Small)
{
<AppBar Position="@AppBarPosition.Static" Color="Color.Inherit">
    <Tabs>
        <CascadingValue Value=this>
            @ChildContent
        </CascadingValue>
    </Tabs>
</AppBar>
}

@if (HelpDisplay.Display.Width > (int)LayoutSize.Small)
{
<CascadingValue Value=this>
    <ul class="nav nav-tabs">
        @ChildContent
    </ul>
</CascadingValue>
}

@if (Tabs != null)
{
    @foreach (var Tab in Tabs)
    {
        <div style="display: @(Tab.Visible ? "block": "none"); padding: 6px 6px 6px 6px">
            @Tab?.ChildContent
        </div>
    }
}
