@inherits ViewModalControl

@if (HelpDisplay.Display.Width > 0 && HelpDisplay.Display.Width <= (int)LayoutSize.Small)
{
    <div class="overlay" style="display: @(Open && Overlay ? "block" : "none")">
        <div class="overlay-container">
            <div @ref="DivModal" class="modal fade-in" data-bs-backdrop="false" data-bs-keyboard="false">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        @ChildContent
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (HelpDisplay.Display.Width > (int)LayoutSize.Small)
{
    <div class="overlay" style="display: @(Open && Overlay ? "block" : "none")">
        <div class="overlay-container">
            <div @ref="DivModal" class="modal fade-in" data-bs-backdrop="false" data-bs-keyboard="false">
                <div class="modal-dialog" style="max-width: @Width; margin-top: @Top;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@Title</h5>
                            <div class="form-check-inline">
                                @*<button type="button" class="btn-close" @onclick="Hide"></button>*@
                                <button type="button" class="btn-close" @onclick="Hide"></button>
                            </div>
                        </div>
                        <div class="modal-body">
                            @ChildContent
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}