@inherits ViewUsuarioPage

<EditItemViewLayout @ref="EditItemViewLayout" Title="Usuário" OnLoad="Page_Load" Width="900px">
    
    <BtnLimpar>
        <ViewPageBtnLimpar Visible="BtnLimpar" OnClick="BtnLimpar_Click" />
    </BtnLimpar>

    <BtnSalvar>
        <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="BtnSalvar_Click" />
    </BtnSalvar>

    <BtnExcluir>
        <ViewPageBtnExcluir ListItemViewLayout="ListView" Visible="BtnExcluir" OnClick="BtnExcluir_Click" />
    </BtnExcluir>

    <View>
        <TabSet @ref="TabSet" Changed="StateHasChanged">
            <TabPage Id="Principal" Title="Principal">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <TextBox @ref="TxtCodigo" _Label="Código" _ReadOnly="true" />
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <TextBox @ref="TxtLogin" _Label="Login" />
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ViewPesquisa @ref="ViewPesquisaFuncionario" Tipo="Pessoa" _Label="Funcionário" _Title="Procurar funcionário" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <TextBox @ref="TxtSenha" _Type="@TextBoxType.Password" _Label="Senha" />
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <TextBox @ref="TxtConfirmarSenha" _Type="@TextBoxType.Password" _Label="Confirmar Senha" />
                    </div>
                </div>
            </TabPage>
            <TabPage Id="Email" Title="Email">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ViewUsuarioEmail @ref="ViewUsuarioEmail" />
                    </div>
                </div>
            </TabPage>
        </TabSet>
    </View>

</EditItemViewLayout>