@inherits ViewUsuarioPage<Usuario>

<EditItemViewLayout @ref="EditItemViewLayout"
                    ListItemViewLayout="ListItemViewLayout"
                    Title="Usuário"
                    Width="1250px"
                    OnLimpar="ViewLayout_Limpar"
                    OnCarregar="ViewLayout_Carregar"
                    OnSalvar="ViewLayout_Salvar"
                    OnExcluir="ViewLayout_Excluir">
    <View>

        <TabSet @ref="TabSet" Changed="StateHasChanged">
            <TabPage Id="Principal" Title="Principal">
                <Box Padding="3">

                    <div class="row">

                        <div class="col-md-1 col-sm-6">
                            <TextBox @ref="TxtCodigo" _Label="Código" _ReadOnly="true"></TextBox>
                        </div>

                        <div class="col-md-5 col-sm-6">
                            <TextBox @ref="TxtLogin" _Label="Login" _AutoFocus="true"></TextBox>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <TextBox @ref="TxtSenha" _Type="@TextBoxType.Password" _Label="Senha"></TextBox>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <TextBox @ref="TxtConfirmarSenha" _Type="@TextBoxType.Password" _Label="Confirmar Senha"></TextBox>
                        </div>
                    </div>

                </Box>
            </TabPage>
            <TabPage Id="Email" Title="Email">
                <Box Padding="3">
                    <ViewUsuarioEmail @ref="ViewUsuarioEmail"></ViewUsuarioEmail>
                </Box>
            </TabPage>
        </TabSet>

    </View>
</EditItemViewLayout>